#node {
  cursor: default;
  grid-column: 1 / 4;
  grid-row: 1;
  background: white;
  border-radius: calc(8px * 2);
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, .1); */
  /* border: 3px solid rgba(0, 0, 0, 0.6); */
  display: flex;
  flex-direction: column;
  position: relative;
  /* justify-content: center;
  align-items: center; */
  --connection-size: 16px;
}

* {
  box-sizing: border-box;
}

header {
  border-radius: calc(8px * 2) calc(8px * 2) 0 0;
  overflow: hidden;
  padding: 0 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.035);
  display: flex;
  align-items: center;
  margin: 0;
  min-height: 40px;

  & h1 {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    flex: 1;
  }

  #actions {
    display: flex;
    gap: 10px;
    /* min-width: 100px; */
  }
}

section {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 20px;

  & summary {
    padding: 5px 0;
    cursor: pointer;

    & label {
      pointer-events: none;
      cursor: inherit;
    }

    &:hover {
      color: var(--color-primary);

      & label {
        color: inherit;
      }
    }
  }

  &:last-child {
    border-bottom: none;
  }

  & details {
    margin: 0;
  }

  & label {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
  }

  & code-editor {
    /* min-width: 100%; */
    height: 100px;
    flex: 1;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    max-width: 100%;
    --editor-height: 60px;
  }

}

#inputs,
#outputs {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: var(--connection-size);
  display: flex;
  /* display: grid;
  grid-template-columns: repeat(1, 1fr); */
  margin-top: calc(var(--connection-size) / -2);
  justify-content: center;
  gap: 100px;
  /* align-items: center; */
}

#inputs {
  top: 0;
}

#outputs {
  bottom: calc(var(--connection-size) / -2);
}

.connection {
  z-index: 1;
  grid-column: 1 / 4;
  grid-row: 1;
  border-radius: var(--connection-size);
  width: var(--connection-size);
  height: var(--connection-size);
  background-color: white;
  border: 2px solid var(--color-primary);
  /* position: absolute; */
}
