nav#toc {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: .5rem;
  width: 300px;
  position: sticky;
  top: 60px;
  background: white;

  & ul {
    margin-left: 20px;
    padding: 0;

    &:first-child {
      margin-left: 0;
    }
  }

  & a {
    cursor: pointer;
    line-height: 1.25;
    text-decoration: none;
    display: flex;
    padding: 0.375rem .75rem;
    border-radius: 0.25rem;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: 500;

    & sl-icon-button {
      border-radius: 0.25rem;
      /* padding: 0 1rem; */
      margin: 0;
      font-size: 1.5rem;
      --sl-spacing-x-small: 0;
    }

    & span {
      display: block;
      flex: 1;
    }

    &:hover,
    &.active {
      /* color: var(--color-primary); */
      background-color: rgba(0, 0, 0, 0.05);

      & sl-icon-button:hover {

        background-color: rgba(0, 0, 0, 0.05);
      }


    }

    &.active {
      /* color: var(--color-primary); */
      color: var(--color-primary-blue);
    }
  }
}
